<div class="sidebar">
    <h5 class="text-center">Admin Panel</h5>
    <hr>
    <a href="/admin/dashboard">Dashboard</a>
    <a href="/admin/postjob">Post a Job</a>
    <a href="/admin/jobs">Job List</a>
    <a href="/admin/user_apply">Users Application</a>
    <form action="/admin/logout" method="POST" class="px-3 mt-3">
      <button class="btn btn-outline-light w-100 btn-sm">Logout</button>
    </form>
  </div>