<!-- views/partials/sidebar.ejs -->
<div class="col-md-2 sidebar d-flex flex-column">
  <h4 class="text-white text-center mb-4">Portal</h4>
  <a href="/dashboard">Dashboard</a>
  <!-- <a href="/jobs">Jobs</a>
  <a href="/jobs/post">Post Job</a> -->
  <a href="/jobs/profile">Profile</a>
  <a href="/jobs/apply">Apply</a>
  <a href="/jobs/user-application">Application List</a>
  <a href="/">Logout</a>
</div>